.Form-Container {
  background-color: #ca563f;
  color: antiquewhite;
  text-align: center;
  background-position: center;
  text-align: center;
  width: 60%;
  margin-left: 23%;
  margin-top: 8%;
}

.BtnD-entrar{
  margin-top: -1%;
  background-color: #516300;
  color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0;
  border: none;
  padding: 10px 20px;
  float: none;
  margin-left: -8%;
}


input {
  margin-bottom: 100%;
}

Form-input{

  margin-bottom: 18%;
}
input {
  margin-bottom: 18%;
}

Form-input{

  margin-bottom: 18%;
}

.Form-Form{
  text-align: center;
  width: 60%;
  margin-left: 23%;
  margin-top: 8%;
}

.inputForm-input {
  margin-bottom: 18%;
}
